/* --------- this media query is for tablet and devices less than 1046px--------*/

@media (max-width: 1046px){

    header nav.second-nav .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    header nav .container{
        position: relative;
        height: 60px;
    }
    header nav ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .m-nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        background-color:  #fff;
        height: 100vh;
        z-index: 9;
        top: 60px;
        left: -100%;
        width: 80%;
        padding-left: 15%;
        transition: left .3s ease-in;
    }

    .m-nav .main-menu > li{
        margin: 15px 0;
    }
    .resp-menu{
        display: block;
        position: relative;
        width: 25px;
        height: 18px;
        cursor: pointer;
    }
    
    header .second-nav{
        height: 60px;
        background-color: #f6f6f6;
        line-height: 25px;
    }
    header nav ul.main-menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    header .second-nav ul:first-child li{
        padding-right: 0px;
        margin: 0 20px;
    }
    header .second-nav ul:last-child li:first-of-type a{
        padding-left: 0;
    }
    
    header .main-nav{
        height: 100%;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    header .main-nav .main-menu{
        margin-right: 0px;
    }
    
    header .main-nav .second-menu li{
        margin: 10px; 
        display: block;
    }
    
    header .main-nav .second-menu a i{
        font-size: 20px;
    }

    header .main-nav ul li{
        margin-left:0 !important; 
    }

    header .main-nav .main-menu .sub-list{
        position: static;
        width: 100% !important;
        height: 0;
        opacity: 0;
        z-index: 99999;
    }
    
    header .main-nav .main-menu .sub-list li:hover{
        background: none;
    }
    
    header .main-nav .main-menu .sub-list li:hover a{
        color: #71cd14;
    }
    
    header .main-nav .main-menu li:hover .sub-list{
        opacity: 1;
        top: 0 !important;
        height: auto;
    }
    
    /*slider*/
    
    .slider{
        background: url(../img/banner-bg.jpg) no-repeat 0% bottom;
        height: 70vh;
    }

    .header-content .content{
        left: 10%;
        top: 20%;
        width: 50%;
    }
    
    .header-content .content h1{
        font-size: 40px;
    }

    .header-content .content p:nth-of-type(2){
        font-size: 17px;
    }

    /*------------main--------------------*/

.serv .services .service{
	width: 45%;
	margin: 20px 0; 
}


    
/*offer*/

.offer .offer-content{
	right: 10%;
	top: 25%;
}

.offer .offer-content  p{
	font-size: 80px;
}

    /*new-product*/

.new-product .products{
	justify-content: center;
}

.new-product .products .main-product{
	width: 75%;
    margin-bottom: 40px;
}

.new-product .products .second-product{
	flex-basis: 100%;
}



/*inspired-product*/

.inspired-product .products .product{
    flex-basis: 45%;
}

    /*latest-blog*/

    .latest-blog{
        width: 80%;
    }

    .latest-blog .blogs{
        width: 100%;
        justify-content: space-between;
    }

    .latest-blog .blogs .blog{
        width: 45%;
    }
    .latest-blog .blogs .blog .img img{
        width: 100%;
    }

    /*-----------footer------------*/

footer{
	padding: 50px 70px;
}

footer > ul{
	width: 100%;
    flex-wrap: wrap;
}

footer ul li{
    width: 20%;
    min-width: 170px;
    text-align: center;
    margin-bottom: 20px;
}

footer ul li h4{
	margin-bottom: 25px;
}
footer ul li:last-child{
	width: 20% !important;
}
footer ul li:last-child input{
	width: 100%;
}

footer ul li:last-child button{
	padding: 8px 10px;
	right: -40px;
}

footer .cr-sm{
	margin-top: 80px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer .cr-sm .copyright{
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
}
footer .cr-sm .social-media ul li{
    display: inline-block;
    width: auto !important;
    min-width: auto !important;
}

/* --------- this media query is for mobile less than 660px--------*/

}
@media (max-width: 660px){
    .fixedNav{
        position: fixed !important;
        background-color: #fff !important;
        width: 100% !important;
        padding: 0 50px !important;
        z-index: 9999 !important;
        box-shadow: 1px 0 10px 0px #444;
    }
    header nav.second-nav .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    header nav .container{
        position: relative;
        height: 60px;
    }
    .m-nav{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        background-color:  #fff;
        height: 100vh;
        z-index: 9;
        top: 60px;
        left: -100%;
        width: 80%;
        padding-left: 15%;
        transition: left .3s ease-in;
    }

    .m-nav .main-menu > li{
        margin: 15px 0;
    }
    header .second-nav{
        height: 60px;
        display: none;
    }
    header nav ul.main-menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    header .second-nav ul:first-child li{
        padding-right: 0px;
        margin: 0 20px;
    }
    header .second-nav ul:last-child li a{
        font-size: 11px;
    }
    header .second-nav ul:last-child li:first-of-type a{
        padding-left: 0;
    }
    
    header .main-nav{
        height: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    header .main-nav .main-menu{
        margin-right: 0px;
    }
    
    header .main-nav .second-menu li{
        margin: 10px; 
        display: block;
    }
    
    header .main-nav .second-menu a i{
        font-size: 20px;
    }
    
    header .main-nav ul li{
        margin-left:0 !important; 
    }

    header .main-nav .main-menu .sub-list{
        position: static;
        height: 0;
        opacity: 0;
        z-index: 99999;
    }
    
    header .main-nav .main-menu .sub-list li:hover{
        background: none;
    }
    
    header .main-nav .main-menu .sub-list li:hover a{
        color: #71cd14;
    }
    
    header .main-nav .main-menu li:hover .sub-list{
        opacity: 1;
        top: 0 !important;
        height: auto;
    }
    
    /*slider*/
    
    .slider{
        background: url(../img/banner-bg.jpg) no-repeat 0% bottom;
        width: 100%;
        height: 70vh;
    }
    
    .header-content .content{
        left: 10%;
        top: 20%;
        width: 80%;
    }
    
    .header-content .content h1{
        font-size: 40px;
    }
    
    .header-content .content p:nth-of-type(2){
        font-size: 17px;
    }
    

    /*------------main--------------------*/

    .serv{
        width: 100%;
    }
    
    .serv .services .service{
        width: 100%;
        margin: 20px 0; 
    }
    

    /*offer*/

.offer{
	background: url(../img/offer-bg.png) no-repeat 50% bottom;
}

.offer .offer-content{
	left: 25%;
	top: 25%;
}

.offer .offer-content  p{
	font-size: 50px;
	line-height: 60px;
}
    /*featured product*/
.featured-product .products{
	justify-content: center;
}

.featured-product .products .product{
    flex-basis: 90%;
    margin-bottom: 40px;
}
.featured-product .products .product .img ul{
	visibility: visible;
	bottom: 0px;
}



       /*new-product*/

.new-product .products{
	justify-content: center;
}

.new-product .products .main-product{
	width: 90%;
    margin-bottom: 40px;
}
.new-product .products .main-product h2{
    font-size: 20px;
}

.new-product .products .second-product{
	justify-content: center;
	flex-basis: 100%;
}

.new-product .products .second-product .product{
    flex-basis: 90%;
}

.new-product .products .second-product .product:nth-of-type(3){margin-bottom: 40px;}

.new-product .products .second-product .product:nth-of-type(4){margin-bottom: 40px;}

.new-product .products .second-product .product .img ul{
    visibility: visible;
	bottom: 0px;
}
.new-product .products .second-product .product .img img{
    width: 100%;
    height: 100%;
}
/*inspired-product*/

.inspired-product{
	width: 90%;
	margin: 60px auto;
	text-align: center;
}

    .inspired-product .products{
        justify-content: center;
    }
    
    .inspired-product .products .product{
        flex-basis: 90%;
    }
    .inspired-product .products .product .img ul{
        visibility: visible;
        bottom: 0px;
    }

    /*latest-blog*/

    .latest-blog{
        width: 80%;
    }

    .latest-blog .blogs{
        width: 100%;
        justify-content: center;
    }

    .latest-blog .blogs .blog{
        width: 100% !important;
    }
    
    .latest-blog .blogs .blog .img img{
        width: 100%;
    }
    .latest-blog .blogs .blog h4{
        color: #71cd14;
    }
    
    .latest-blog .blogs .blog a{
        color: #71cd14;
    }
    
    .latest-blog .blogs .blog a i{
        color: #71cd14;
    }
    
        /*-----------footer------------*/

footer{
    padding: 50px 25px;
    height: 100%;
}

footer > ul{
	width: 100%;
    flex-wrap: wrap;
}

footer ul li{
    width: 100%;
    min-width: 170px;
    text-align: center;
    margin-bottom: 20px;
}

footer ul li h4{
	margin-bottom: 30px;
}
footer ul li:last-child{
	width: 100% !important;
}
footer ul li:last-child input{
	width: 70%;
}

footer ul li:last-child button{
	padding: 8px 10px;
	right: 10px;
}

footer .cr-sm{
    width: 100%;
    height: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer .cr-sm .copyright{
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
footer .cr-sm .social-media{
    justify-content: center;
}
footer .cr-sm .social-media ul li{
    margin-left: 8px;
    display: inline-block;
    width: auto !important;
    min-width: auto !important;
}
}
